<div class='panel panel-primary'>
  <div class='panel-heading'>
    {{pageTitle}}
  </div>
  <div class='panel-body'>
    <div class='table-responsive' ng-controller="myCtrl">
      <table class='table' *ngIf='contacts && contacts.length'>
        <thead>
          <tr>
            <th>
              <button class='btn btn-primary' (click)='toggleInformation()'>
                {{showInformation ? 'Hide' : 'Show'}} Information
              </button>
            </th>
            <th>Name</th>
            <th>Address</th>
            <th>Occupation</th>
            <th>Phone Number</th>
          </tr>
        </thead>
        <tbody *ngIf='showInformation'>
          <tr *ngFor='let contact of contacts'>
            <td>{{showCount}}</td>
            <td>{{ contact.Name | uppercase | convertToSpaces: '-' }}</td>
            <td>{{ contact.Address }}</td>
            <td>{{ contact.Occupation }}</td>
            <td>{{ contact.PhoneNumber}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>